body {
  background-color: ##343a40;
  font-family: 'Inconsolata', monaco, monospace;
}

.iconborder {
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  padding:3px 0px;
  background-color: yellow;

}

.iconborder .fa{
text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "section1 section2 section3 section4" "section1 section2 section3 section4" "section1 section2 clock section4";
}

.section1 { grid-area: section1; }

.section2 { grid-area: section2; }

.section3 { grid-area: section3; }

.clock { grid-area: clock; }

.section4 { grid-area: section4; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}



.blue{
  color: #007bff;

}
.green{
}
.orange{

}

.pink{

}
.purple{

}
.white{

}

.yellow{

}
